<div class="emblem">
	<a aria-label="Logo {{ seo:site_name }}" href="{{ homepage }}">
		{{ unless size=="large" }}
			{{ 
				partial:components/picture
				picture="true"
				:alt="seo:site_name"
				class="emblem--sm"
				external_picture="/svg/logo/small.svg"
				width="244"
				height="64"
			}}
		{{ /unless }}
		{{ unless size=="small" }}
			{{ 
				partial:components/picture 
				picture="true"
				:alt="seo:site_name"
				class="emblem--lg"
				external_picture="/svg/logo/logo.svg"
				width="410"
				height="181"
			}}
		{{ /unless }}
	</a>
</div>