<article class="entry entry--classified {{ inverted ?= 'entry--inverted' }} {{ extended ?= 'entry--extended' }}">
	<{{ extended ? 'div' : 'a' }}
		{{ if !extended }} href="{{ url }}" {{ /if }}
	>

		<div class="entry__content">

			<div class="entry__titles">
				{{ if topics }}
					<div class="entry__taxonomies">
						{{ topics }}
							{{ 
								partial:components/tag 
								tag="div"
							}}
						{{ /topics }}
					</div>
				{{ /if }}

				<h1 class="entry__title">{{ title }}</h1>
			</div>

			{{ if extended }}
				<div class="entry__prose">
					{{ prose }}
				</div>
			{{ /if }}

		</div>

		<div class="entry__details">
			{{ if author }}
				{{ 
					partial:components/link
					tag="div"
					shape="detail"
					icon="person" 
					:label="author"
				}}
			{{ /if }}

			{{ if extended }}

				{{ 
					partial:components/link
					tag="div"
					shape="detail" 
					icon="calendar" 
					label="{date format='D j M y'}" 
				}}

				{{ if email }}
					{{ 
						partial:components/link
						shape="detail"
						icon="mail" 
						:label="email"
						link_type="email"
						:email="email"
					}}
				{{ /if }}

				{{ if tel }}
					{{ 
						partial:components/link
						shape="detail"
						icon="tel" 
						:label="tel"
						link_type="tel"
						:tel="tel"
					}}
				{{ /if }}

			{{ /if }}
		</div>

	</{{ extended ? "div" : "a" }}>
</article>