<article class="entry entry--product">
	<a href="{{ url }}" title="{{ alt ?= alt }}">

		<div class="entry__image">
			{{ 
				partial:components/picture 
				fit="true"
				sizes="(min-width: 600px) 460px, 620px"

				{{ if cover }}
					:picture="cover"
				{{ else }}
					:picture="covers:products"
				{{ /if }}
			}}
		</div>

		<div class="entry__content">
			<h1 class="entry__title">{{ title }}</h1>
		</div>


		{{ if clients == 'all' }}

			<div class="entry__price">
				<div>
					{{ if product_variants }}
						{{ product_variants:options }}{{ if first }}{{ price }}{{ /if }}{{ /product_variants:options }}
					{{ else }}
						{{ price }}
					{{ /if }}
				</div>
			</div>

		{{ /if }}


		{{ if clients == 'visitors' }}

			<div class="entry__price">
				<div>
					{{ if product_variants }}
						{{ product_variants:options }}{{ if first }}{{ price }}{{ /if }}{{ /product_variants:options }}
					{{ else }}
						{{ price }}
					{{ /if }}
				</div>
			</div>

			{{ if (price_members != "£0.00") && (price_members != "0.00 £GB") }}
				<div class="entry__price entry__price--inverted">
					<div class="entry__stamp">
						<span>{{ svg src="star" }}</span>
						<span>Members</span>
					</div>
					<div>{{ price_members }}</div>
				</div>
			{{ /if }}

		{{ /if }}


		{{ if clients == 'members' }}

			{{ if (price_visitors != "£0.00") && (price_visitors != "0.00 £GB") }}
				<div class="entry__price">
					<div>{{ price_visitors }}</div>
				</div>
			{{ /if }}

			<div class="entry__price entry__price--inverted">
				<div class="entry__stamp">
					<span>{{ svg src="star" }}</span>
					<span>Members</span>
				</div>
				<div>
					{{ if product_variants }}
						{{ product_variants:options }}{{ if first }}{{ price }}{{ /if }}{{ /product_variants:options }}
					{{ else }}
						{{ price }}
					{{ /if }}
				</div>
			</div>

		{{ /if }}

	</a>
</article>