<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
	{{ partial:snippets/meta }}
	{{ partial:snippets/favicons }}
	{{ partial:snippets/files }}
	{{ partial:snippets/hreflang }}
	{{ partial:snippets/noindex }}
	{{ partial:snippets/opengraph }}
	{{ partial:snippets/schema }}
	{{ partial:snippets/trackers }}
{{# 
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> #}}
</head>

<body
	class=""
	x-data="{
		mobile: window.innerWidth < 1024,
		modal:					false,
		sideblock_checkout:		false,
		sideblock_new:			false,
		sideblock_event:		false,
		sideblock_events:		false,
		sideblock_classified:	false,
		sideblock_classifieds:	false,
		sideblock_product:		false,
		sideblock_products:		false,
	}"
	:class="{ 
		'body--modal': modal
	}"
	@resize.window="mobile = window.innerWidth < 1024"
>
	{{ user }}
		{{ if membership_until | is_after:today }}
			{{ session:set user_group="members" }}
		{{ else }}
			{{ session:set user_group="visitors" }}
		{{ /if }}
	{{ /user }}

	{{ partial:sections/header }}
	{{ template_content }}
	{{ partial:sections/footer }}
	{{ partial:sections/modal }}
	{{ partial:sections/toggles }}
	{{ partial:sections/svgs }}
	{{ yield:seo_body }}
</body>

</html>

{{# <a class="mx-2" href="/cart">Cart</a> #}}