main.main--default
	padding-top $px-32
	padding-bottom $px-32
	background white
	border-top solid 2px $malibu-050
	border-bottom solid 2px $malibu-050

	@media lg
		border-radius $radius
		border solid 2px $malibu-050
		padding $px-32 !important

	@media xl
		padding $px-32 $px-40 !important