main.main--default
	wrapper-x()
	padding-top $px-32
	padding-bottom $px-32
	background white
	border-top solid 2px $malibu-050
	border-bottom solid 2px $malibu-050

	@media lg
		unwrapper-x()
		border-radius $radius
		border solid 2px $malibu-050
		padding $px-32

	@media xl
		padding $px-32 $px-40