<main class="main--default">

	<div class="prose">
		{{ partial:checkout/sections/errors }}

		{{ sc:cart:update redirect="/checkout/shipping" }}



				<h2 class="group__title">Billing info</h2>

				{{ user }}

				<div class="form__field">
					<label for="name">Full name</label>
					<input type="text" id="name" name="name" placeholder="Sylvie Melin" value="{{ old:name or name }}" required>
				</div>

				<div class="form__field">
					<label for="email">Email</label>
					<div class="hint">You'll then be able to login to our website using this email</div>
					<input type="email" id="email" name="email" placeholder="sylvie.melin@example.com" value="{{ old:email or email }}" required>
				</div>




				<h2 class="group__title">Billing Address</h2>

				<div class="form__field">
					<label for="billing_name">Name</label>
					<input type="text" id="billing_name" name="billing_name" placeholder="Sylvie Melin" value="{{ old:billing_name or name }}" required>
				</div>

				{{ /user }}

				<div class="form__field">
					<label for="billing_address">Address</label>
					<input type="text" id="billing_address" name="billing_address" placeholder="123 George Square" value="{{ old:billing_address }}" required>
				</div>

				<div class="form__field">
					<label for="billing_city">City</label>
					<input type="text" id="billing_city" name="billing_city" placeholder="London" value="{{ old:billing_city }}" required>
				</div>

				<div class="form__field">
					<label for="billing_zip_code" >Postal code</label>
					<input type="text" id="billing_zip_code" name="billing_zip_code" placeholder="SW8 5TR" value="{{ old:billing_zip_code }}" required>
				</div>

				<div class="form__field">
					<label for="billing_country">Country</label>
					<select name="billing_country" id="billing_country" value="{{ old:billing_country }}">
						{{ sc:countries }}
							<option value="{{ iso }}" {{ iso == 'GB' ?= 'selected' }}>{{ name }}</option>
						{{ /sc:countries }}
					</select>
				</div>



			<div class="buttons">
				{{ 
					partial:components/link 
					shape="button"
					tag="button"
					icon="right"
					primary="true"
					label="Continue to details" 
					attr_aria="Continue to details"
				}}
			</div>

		{{ /sc:cart:update }}

	</div>
</main>