<main class="main--default">

	<div class="prose">
		{{ partial:checkout/sections/errors }}

		{{ sc:checkout id="checkout-form" redirect="/checkout/complete" }}
			<div x-data="{ gateway: '{{ sc:gateways }}{{ if first }}{{ formatted_class }}{{ /if }}{{ /sc:gateways }}' }">
				<div class="form__field">
					<label for="payment_method">Payment Method</label>
					<select name="gateway" id="payment_method" value="{{ old:gateway }}" x-model="gateway">
						{{ sc:gateways }}
							<option value="{{ class }}" {{ if first }} selected {{ /if }}>{{ 'Card' or display }}</option>
						{{ /sc:gateways }}
					</select>
				</div>

				{{ sc:gateways }}
					<div x-show="gateway === '{{ formatted_class }}'">
						{{ partial src="checkout/gateways/{ handle }" }}
					</div>
				{{ /sc:gateways }}
			</div>


			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="card"
				primary="true"
				label="Pay" 
				attr_aria="Pay"
			}}

		{{ /sc:checkout }}
	</div>
</main>