<main class="main--default">

	<div class="prose">
		{{ partial:checkout/sections/errors }}

		{{ sc:cart:update redirect="/checkout/payment" }}
			<div class="">

				{{# <div class="form__field">
					<label for="shipping_method">Shipping Method</label>
					<select name="shipping_method" id="shipping_method" value="{{ old:shipping_method }}">
						{{ sc:shipping:methods }}
							<option value="{{ handle }}" {{ if first }} selected {{ /if }}>{{ name }} ({{ cost }})</option>
						{{ /sc:shipping:methods }}
					</select>
				</div> #}}
			
				<div class="form__field">
					<label for="shipping_note">Note</label>
					<textarea name="shipping_note" id="shipping_note" cols="30" rows="10">{{ old:shipping_note }}</textarea>
				</div>

			</div>
		
			<div class="set buttons">
				{{ 
					partial:components/link 
					shape="button"
					tag="button"
					icon="card"
					primary="true"
					label="Continue to payment" 
					attr_aria="Continue to payment"
				}}
			</div>
		{{ /sc:cart:update }}

	</div>
</main>