<meta property="og:site_name" content="{{ seo:site_name ?? site:name }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ site:locale }}">
<meta property="og:title" content="{{ og_title ?? seo_title ?? title }}">
<meta property="og:url" content="{{ permalink }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="{{ cover:alt ?? title }}">

{{ if og_description or seo_description }}
	<meta property="og:description" content="{{ og_description ?? seo_description }}">
{{ /if }}

{{ if og_image }}
	<meta property="og:image" content="{{ glide:og_image width='1200' height='630' fit='crop_focal' absolute="true" }}">
{{ elseif cover }}
	<meta property="og:image" content="{{ glide:cover width="1200" height="630" fit="crop_focal" absolute="true" }}">
{{ elseif collection == 'news' }}
	<meta property="og:image" content="{{ glide:covers:news width="1200" height="630" fit="crop_focal" absolute="true" }}">
{{ else }}
	<meta property="og:image" content="{{ glide:seo:og_image width="1200" height="630" fit="crop_focal" absolute="true" }}">
{{ /if }}