body.no-flexbox-gap
	.buttons
		space-x(1em)

	.entries
		space-y($px-24)

	.logos
		space-x($px-32)

	.gallery
		space-x($px-20)

	.link--button
		space-x(0.75em)

	.button-faux
		space-x(0.75em)
	
	.person
		space-x($px-16)

	.modal
		.controls
			space-x($px-12)

		.menu > ul
			space-y($px-12)

	.page
		@media lg
			space-x($px-24)