.homepage__classifieds
	overflow hidden

	.wrapper
		wrapper-x()
		space-y($px-64)
		max-width 1040px
		position relative



		.blob
			position absolute
			z-index -1

			&:nth-of-type(1)
				blob(50px, 51px, triangle-sm, $blue-400)
				top 10%
				left 0

			&:nth-of-type(2)
				blob(42px, 38px, square-sm, $yellow-400)
				top 50%
				left 3%

			&:nth-of-type(3)
				blob(72px, 84px, circle-lg, $green-400)
				top 80%
				left -15%

			&:nth-of-type(4)
				blob(64px, 65px, square-lg, $red-400)
				top 14%
				right 5%

			&:nth-of-type(5)
				blob(50px, 44px, circle-sm, $purple-400)
				top 45%
				right -15%

			&:nth-of-type(6)
				blob(96px, 96px, triangle-lg, $orange-400)
				top 86%
				right 0

			&:nth-of-type(-n+3)
				transform translateX(-50%)

			&:nth-of-type(n+4)
				transform translateX(50%)			


	.titles
		text-align center

	.classifieds__content
		display grid
		gap $px-32

	.classifieds
		display grid
		grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
		grid-gap 1rem

	.entry--classified
		min-height $px-176

	.classifieds__taxonomies
		space-y($px-16)
		
		p
			font-weight 500

		.taxonomies
			display flex
			flex-wrap wrap
			gap $px-12

	.classifieds__buttons
		justify-self center


	@media lg
		.classifieds__content
			grid-template-rows 1fr auto
			grid-template-columns 1fr $px-160
			gap $px-64
			grid-auto-flow dense

		.classifieds__taxonomies
			grid-column-start 2
			grid-row 1 / span 2

		.taxonomies
			flex-direction column
			align-items flex-start

