.homepage__classifieds

	.wrapper
		wrapper-x()
		space-y($px-64)

	.titles
		text-align center

	.classifieds__taxonomy
		space-y($px-16)
		
		p
			font-weight 500

		.taxonomies
			display flex
			flex-direction column
			align-items flex-start
			gap $px-12