<div class="set account">

	{{ if unit=="status" }}

		<div class="details">
			{{ user }}

				{{ 
					partial:components/link
					tag="div"
					shape="detail"
					icon="person" 
					:label="name"
				}}

				{{ 
					partial:components/link
					tag="div"
					shape="detail"
					icon="mail" 
					:label="email"
				}}

				{{ if {is_member} }}
					{{ 
						partial:components/link
						tag="div"
						shape="detail"
						icon="star" 
						label="Member until {membership_until format='d/m/Y'}"
					}}
				{{ else }}
					{{ 
						partial:components/link
						tag="div"
						shape="detail"
						icon="star" 
						label="No active membership"
					}}
				{{ /if }}

				{{ if {is_insured} }}
					{{ 
						partial:components/link
						tag="div"
						shape="detail"
						icon="health" 
						label="Insurance until {insurance_until format='d/m/Y'}"
					}}
				{{ else }}
					{{ 
						partial:components/link
						tag="div"
						shape="detail"
						icon="health" 
						label="No active insurance"
					}}
				{{ /if }}
			{{ /user }}
		</div>

		<div class="set buttons">
			{{ 
				partial:components/link 
				shape="button"
				icon="cross"
				primary="true"
				label="{ trans:account.log_out }" 
				attr_aria="{ trans:account.log_out }"
				link_type='url' 
				url="{user:logout_url}"
			}}
		</div>



	{{ elseif unit=="login" }}

		{{ user:login_form redirect="{ redirect_to | url }" }}

			{{ if errors }}
				<div class="alert alert--error">
					{{ errors }}
						{{ value }}<br>
					{{ /errors }}
				</div>
			{{ /if }}

			{{ if success }}
				<div class="alert alert--success">
					{{ success }}<br>
				</div>
			{{ /if }}

			<div class="form__field">
				<label for="email">Email</label>
				<input type="text" name="email" value="{{ old:email }}" required />
			</div>

			<div class="form__field">
				<label for="password">{{ trans:account.password }}</label>
				<input type="password" name="password" value="{{ old:password }}" required />
			</div>

			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="person"
				primary="true"
				label="{ trans:account.log_in }" 
				attr_aria="{ trans:account.log_in }"
			}}

		{{ /user:login_form }}

	{{ elseif unit=="forgot" }}

		{{ user:forgot_password_form reset_url="{ redirect_to | url }" }}

			{{ if errors }}
				<div class="alert alert--error">
					{{ errors }}
						{{ value }}<br>
					{{ /errors }}
				</div>
			{{ /if }}

			{{ if success }}
				<div class="alert alert--success">
					{{ success }}<br>
				</div>
			{{ /if }}

			<div class="form__field">
				<label for="email">Email</label>
				<input type="text" name="email" value="{{ old:email }}" required />
			</div>

			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="mail"
				primary="true"
				label="{ trans:account.send_reset_email }" 
				attr_aria="{ trans:account.send_reset_email }"
			}}

		{{ /user:forgot_password_form }}

	{{ elseif unit=="reset" }}

		{{ user:reset_password_form redirect="{ redirect_to | url }" }}

			{{ if success }}

				<div class="alert alert--success">Password has been reset.</div>

			{{ elseif url_invalid }}

				<div class="alert alert--error">This reset URL is invalid.</div>

			{{ else }}

				{{ if errors }}
					<div class="alert alert--error">
						{{ errors }}
							{{ value }}<br>
						{{ /errors }}
					</div>
				{{ /if }}

				<div class="form__field">
					<label for="email">Email</label>
					<input type="email" name="email" required/>
				</div>

				<div class="form__field">
					<label for="password">Password</label>
					<input type="password" name="password" required />
				</div>

				<div class="form__field">
					<label for="password_confirmation">Password confirmation</label>
					<input type="password" name="password_confirmation" required />
				</div>

				{{ 
					partial:components/link 
					shape="button"
					tag="button"
					icon="right"
					primary="true"
					label="Reset password" 
					attr_aria="Reset password"
				}}

			{{ /if }}

		{{ /user:reset_password_form }}

	{{ /if }}
</div>
