<div class="set entries">
	{{ collection 
		from="jobs"
		limit="{ limit }"
		paginate="true"
		as="entries"
		sort="pinned:desc|until:asc"
		until:gte="{today format='Y-m-d'}"
	}}

		{{ if no_results }}
			<p>{{ trans:custom.jobs_no_results }}</p>
		{{ /if }}
	
		{{ entries }}
			{{ partial:components/entry dated="true" }}
		{{ /entries }}
	
		{{ unless no_pagination }}
			{{ if paginate:total_pages > 1 }}
				{{ paginate }}
					<div class="pagination">
						<a href="{{ prev_page }}" aria-label="Previous" class="arrow arrow--prev">{{ svg src="icon/chevron" }}</a>
		
						<div class="pagination__count">{{ current_page }} / {{ total_pages }}</div>
		
						<a href="{{ next_page }}" aria-label="Next" class="arrow arrow--next">{{ svg src="icon/chevron" }}</a>
					</div>
				{{ /paginate }}
			{{ /if }}
		{{ /unless }}
	
	{{ /collection }}
</div>



