<div class="set selection" id="set-selection" {{ if insurance }} x-data="{ children: 1 }" {{ /if }}>

	{{ sc:cart:addItem redirect="{ system:cart | url }" }}

		<input type="hidden" name="product" value="{{ id }}">


		{{ unless open_price }}

			{{ if product_variants }}
				<div class="form__field">
					{{# <label for="variant">{{ insurance ? 'Children' : 'Variant' }}</label> #}}
					<label for="variant">{{ product_variants:variants:0:name }}</label>

					<select id="variant" name="variant" {{ if insurance }} x-model.number="children" {{ /if }}>
						
						{{ product_variants:options }}
							{{ if stock === 0 }}
								<option disabled>{{ variant }} ({{ trans:commerce.out_of_stock }})</option>
							{{ else }}
								<option value="{{ key }}">{{ variant }} ({{ price }})</option>						
							{{ /if }}
						{{ /product_variants:options }}
					</select>
				</div>
			{{ else }}
				<div class="form__field"> 
					<label for="price">{{ trans:commerce.price }}</label>
					<input type="text" readonly value="{{ if stock === 0 }}{{ trans:commerce.out_of_stock }}{{ else }}{{ price }}{{ /if }}">
				</div>			
			{{ /if }}

		{{ /unless }}


		{{ if open_price }}
			<div class="form__field"> 
				<label for="quantity">{{ trans:commerce.amount }}</label>
				<input name="quantity" type="number" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
			</div>
		{{ else }}
			{{ if max_quantity > 1 }}
				<div class="form__field"> 
					<label for="quantity">{{ trans:commerce.quantity }}</label>

					<select id="quantity" name="quantity">
						{{ loop :times="max_quantity" }}
							<option value="{{ value }}">{{ value }}</option>
						{{ /loop }}
					</select>
				</div>
			{{ else }}
				<input type="hidden" name="quantity" value="1">
			{{ /if }}
		{{ /if }}







		{{ if insurance }}
			{{ loop times="5" }}
				<fieldset class="form__section" x-show="children >= {{ value }}">
					<legend>{{ trans:apc.child }} {{ value }}</legend>
					{{ metadatas }}
						<div class="form__field">
							<label>{{ title }}</label>
							{{ if hint }}
								<span class="hint">{{ hint }}</span>
							{{ /if }}
							<input type="text" name="metadata_{{ increment }}" {{ requireddd ?= 'required' }}>
						</div>
					{{ /metadatas }}
				</fieldset>
			{{ /loop }}
		{{ else }}
			{{ metadatas }}
				<div class="form__field">
					<label for="metadata_{{ index }}">{{ title }}</label>
					{{ if hint }}
						<span class="hint">{{ hint }}</span>
					{{ /if }}
					<input type="text" name="metadata_{{ index }}" id="metadata_{{ index }}" {{ required ?= 'required' }}>
				</div>
			{{ /metadatas }}
		{{ /if }}

		<div class="buttons">
			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="bag"
				label="{ trans:commerce.add_to_cart }" 
				attr_aria="{ trans:commerce.add_to_cart }"
				click="document.getElementsByName('_redirect')[0].value='{current_uri}'; document.querySelector('#set-selection > form').submit();"
			}}

			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="flash"
				primary="true"
				label="{ trans:commerce.buy_now }" 
				attr_aria="{ trans:commerce.buy_now }"
			}}
		</div>

	{{ /sc:cart:addItem }}
</div>