<div class="set video iframe" id="video_{{ index }}">
	{{ if url | is_embeddable }}
		<iframe 
			src="{{ url | embed_url }}" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen 
			onload="set_iframe_dimensions(this)"
			loading="lazy"
		></iframe>
	{{ else }}
		<video src="{{ url | embed_url }}" controls></video>
		<script>
			var vid = document.getElementById("video_{{ index }}").children[0];
			vid.onloadeddata = function() {
				set_iframe_dimensions(vid);
			};
		</script>
	{{ /if }}
</div>

