<div class="cart">

	{{ if {sc:cart:has} === false || {sc:cart:count} === 0 }}
		<div class="cart__section">
			<h2>Empty cart</h2>
			<div>
				{{ 
					partial:components/link 
					shape="button"
					link_type="url"
					url="{ link to='shop' }"
					icon="bag"
					primary="true"
					label="Start shopping" 
					attr_aria="Start shopping"
				}}
			</div>
		</div>
	{{ else }}

		<div class="cart__section">
			<h2>Items</h2>

			<div class="">
				<div class="cart__items">
					{{ sc:cart:items }}

						<div class="cart__item">
		
							<div class="cart__item_name"><a href="{{ product:url }}">{{ product:title }}</a></div>
		
							{{ sc:cart:removeItem :item="id" }}
								{{ 
									partial:components/control
									tag="button"
									icon="cross"
									label="Remove" 
									attr_aria="Remove"
								}}
							{{ /sc:cart:removeItem }}
		
							<div class="cart__item_price_quantity">
								{{ if variant }}
									{{ variant:price }}
								{{ else }}
									{{ product:price }}
								{{ /if }}
								x {{ quantity }}
							</div>
		
							<div class="cart__item_total">{{ total }}</div>
		
						</div>
					{{ /sc:cart:items }}
				</div>
			</div>
		</div>

		{{ if {sc:cart:taxTotal} !== 0 }}
			<div class="cart__section cart__section--tax">
				<h2>Tax</h2>
				<div>
					<span>{{ sc:cart:taxTotal }}</span>
				</div>
			</div>
		{{ /if }}

		<div class="cart__section cart__section--total">
			<h2>Total</h2>
			<div>
				<span>{{ sc:cart:grandTotal }}</span>
			</div>
		</div>

	{{ /if }}


</div>