.figure

	img
		border-radius $radius-xl
 
	figcaption 
		color $neutral-500
		text-align center
		font-size 0.875em
		line-height 1.4285714
		margin-top 0.8571429em

	& > * 
		margin-top 0
		margin-bottom 0