.sideblock
	position fixed
	z-index $zindex-popover
	fluid(left, $wrapper-x-min, $wrapper-x-max)
	bottom 64px
	width 300px
	border-radius $radius
	overflow hidden

	.sideblock__title
		padding $px-12 $px-20
		line-height $leading-tight
		font-weight 500
		font-size $text-18
		color white
		background $blue-600

	.sideblock__content
		padding $px-24
		display flex
		flex-direction column
		gap $px-32
		background-color $malibu-050

	.details
		display flex
		flex-direction column
		gap $px-12


	@media lg
		position initial
		z-index initial
		width initial