<div>

	<div class="form__field">
		<label for="cardholder">Cardholder</label>
		<input type="text" id="cardholder" name="cardholder" placeholder="Sylvie Melin" value="{{ old:cardholder }}">
	</div>

	<div class="form__field">
		<label for="card_number">Card Number</label>
		<input type="number" id="card_number" name="card_number" placeholder="4242 4242 4242 4242" value="{{ old:card_number }}">
	</div>

	<div class="form__field">
		<label for="expiry_month">Expiry Month</label>
		<input type="number" id="expiry_month" name="expiry_month" placeholder="09" value="{{ old:expiry_month }}">
	</div>

	<div class="form__field">
		<label for="expiry_year">Expiry Year</label>
		<input type="number" id="expiry_year" name="expiry_year" placeholder="26" value="{{ old:expiry_year }}">
	</div>

	<div class="form__field">
		<label for="cvc">CVC (Security Code)</label>
		<input type="number" id="cvc" name="cvc" placeholder="123" value="{{ old:cvc }}">
	</div>

</div>
