<div class="homepage__classifieds">
	<div class="wrapper">
	
		<div class="titles">
			<h2 class="support__title">{{ classifieds_title }}</h2>

			<div class="support__intro intro prose prose--lg">{{ classifieds_intro }}</div>
		</div>


		<div class="classifieds__content">

			<div class="classifieds__taxonomies">
				<p>{{ classifieds_taxonomy_label }}</p>
				<div class="taxonomies">
					{{ taxonomy:topics }}
						{{ 
							partial:components/tag 
							primary="true" 
							link_type="url"
						}}
					{{ /taxonomy:topics }}
				</div>
			</div>

			<div class="classifieds__entries">
				<div class="classifieds">
					{{ collection 
						from="classifieds"
						limit="3"
						sort="pinned:desc|date:desc"
					}}
						{{
							partial:components/entry--classified 
						}}
					{{ /collection }}
				</div>
			</div>
	
			<div class="classifieds__buttons">
				{{ partial:sets/buttons :buttons="classifieds_buttons" }}
			</div>

		</div>

	</div>
</div>