<div class="homepage__newsletter">
	<div class="wrapper">

		<div class="newsletter__wrapper">
			<div class="titles">
				<h2 class="newsletter__title">{{ newsletter_title }}</h2>
				<div class="newsletter__intro intro prose">{{ newsletter_intro }}</div>
			</div>
	
			<div class="newsletter__form">

				<form action="https://cfblparents.us15.list-manage.com/subscribe/post?u=679e14c79221e38622bc06b2d&amp;id=9c0c1399aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="{{ newsletter_input }}" required>

					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_679e14c79221e38622bc06b2d_9c0c1399aa" tabindex="-1" value=""></div>
					<button type="submit" class="link link--icon link--button link--primary">
						<span class="icon">{{ svg src="right" }}</span>
						<span class="label">Subscribe</span>
					</button>
				</form>


				<div class="newsletter__notice prose prose--sm">{{ newsletter_notice }}</div>
			</div>
	
			<div class="newsletter__socials">
				<div class="buttons">
					{{ socials:socials }}
						{{ 
							partial:components/link 
							shape="button" 
							link_type="url"
							:icon="name"
							label="{ label ?? name:label}" 
							attr_aria="{ label ?? name:label}"
							classes="link--{name}"
						}}
					{{ /socials:socials }}
				</div>
			</div>
		</div>

	</div>
</div>