<div class="homepage__support">
	<div class="wrapper">
	
		<div class="titles">
			<h2 class="support__title">{{ support_title }}</h2>

			<div class="support__intro intro prose prose--lg">{{ support_intro }}</div>
		</div>

		<div class="support__actions">
			{{ actions }}
				<div class="action prose">
					<h3 class="action__title">
						{{ if link }}<a href="{{ link }}">{{ /if }}
							{{ title }}
						{{ if link }}</a>{{ /if }}
					</h3>	
					<div class="action__description">{{ description }}</div>
				</div>		
			{{ /actions }}
		</div>

	</div>
</div>