<div 
	x-cloak
	class="cookies"
	x-show="cookies"
	x-data="{ cookies: !window.getCookie('cookie_consent') }"
	x-transition:enter="slide-up-enter"
	x-transition:enter-start="slide-up-enter-start"
	x-transition:enter-end="slide-up-enter-end"
	x-transition:leave="slide-up-leave"
	x-transition:leave-end="slide-up-leave-end"

	{{ if seo:trackers_revoke_before }}
		x-init="(window.getCookie('cookie_consent_date') < '{{ seo:trackers_revoke_before format="Y-m-d" }}' ? window.eraseCookie('cookie_consent') : '')"
	{{ /if }}
>
		<div class="prose prose--sm prose--inverted">
			{{ seo:trackers_message }}
		</div>

		<div class="buttons">
			{{ 
				partial:components/link 
				shape="sock"
				tag="button"
				label="{trans:strings.cookie_accept}"
				click="
					cookies = false, 
					window.setCookie( 'cookie_consent', true, '{seo:trackers_duration}' ), 
					window.setCookie( 'cookie_consent_date', '{now format=\"Y-m-d\"}', '{seo:trackers_duration}' )
				"
			}}

			{{ 
				partial:components/link
				shape="sock" 
				tag="button"
				label="{trans:strings.cookie_deny}"
				click="
					cookies = false, 
					window.setCookie( 'cookie_consent', '0', '{seo:trackers_duration}' ),
					window.setCookie( 'cookie_consent_date', '{now format=\"Y-m-d\"}', '{seo:trackers_duration}' )
				"
			}}
		</div>

</div>