<header>
	<div class="wrapper">

		<div class="emblem">
			<a aria-label="Logo {{ seo:site_name }}" href="{{ homepage }}">
				{{ 
					partial:components/picture 
					picture="true"
					:alt="seo:site_name"
					external_picture="/svg/logo/logo.svg"
					width="144"
					height="79"
				}}
			</a>
		</div>

		<div class="header__controls">
					
			{{ locales }}
				{{ unless locale.key == current }}
					{{ 
						partial:components/control
						link_type="url"
						label="{locale:name}"
						icon="{locale:short}"
					}}
				{{ /unless}}
			{{ /locales }}

			{{ 
				partial:components/control
				link_type="url"
				label="Shopping cart"
				icon="bag"
				url="/cart"
			}}

			{{ 
				partial:components/control
				link_type="url"
				label="Account"
				icon="person"
				url="/en/account"
				inverted="true"
			}}

		</div>

		<div class="header__menu">
			<ul>
				{{ nav_excluding_hidden include_home="false" }}
					{{ unless only_logged && !logged_in }}
						<li x-data="{ active: false }">
							{{ 
								partial:components/nav
								main="true"
		
								{{ if (children | count) > 0 }}
									click="active = !active"
									icon="down"
								{{ /if }}
							}}
		
							{{ if children }}
								<ul
									class="header__dropdown"
									x-cloak 
									x-show="active"
									@click.away="active = false"
									x-transition:enter="slide-up-enter"
									x-transition:enter-start="slide-up-enter-start"
									x-transition:enter-end="slide-up-enter-end"
									x-transition:leave="slide-up-leave"
									x-transition:leave-end="slide-up-leave-end"
								>
									{{ if blueprint == "pages" }} {{# If parent is a real page, show it in submenu as href is disabled to allow dropdown #}}
										<li>
											{{ 
												partial:components/nav
												primary="true" 
												inverted="true"
											}}
										</li>
									{{ /if }}
									{{ children }}
										<li>
											{{ partial:components/nav }}
										</li>
									{{ /children }}
								</ul>
							{{ /if }}
		
						</li>
					{{ /unless }}
				{{ /nav_excluding_hidden }}

			</ul>
		</div>
	</div>	
</header>