<div
	class="modal"
	@click.away="modal = false" 
	x-cloak
	x-show="modal"
	x-transition:enter="slide-up-enter"
	x-transition:enter-start="slide-up-enter-start"
	x-transition:enter-end="slide-up-enter-end"
	x-transition:leave="slide-up-leave"
	x-transition:leave-end="slide-up-leave-end"
>
	<div class="wrapper">
		{{ partial:sections/topbar }}
	
		<nav class="modal__menu">
			<ul>
				{{ nav_excluding_hidden }}
					{{ unless only_logged && !logged_in }}
						<li>
							{{ 
								partial:components/nav
								primary="true"
								inverted="true"
							}}
		
							{{ if children }}
								<ul	class="children">
									{{ children }}
										<li>
											{{ partial:components/nav }}
										</li>
									{{ /children }}  
								</ul>
							{{ /if }}
		
						</li>
					{{ /unless }}
				{{ /nav_excluding_hidden }}
			</ul>
		</nav>

		<div class="modal__footer">
			{{ 
				partial:components/control
				click="modal = false"
				icon="cross"
				label="Close"
				inverted="true"
				{{# tag="button" bug ios #}}
			}}
		</div>
	</div>
</div>