// .outside .logo
//     background-image url('/svg/logo/logo.svg')
//     background-size auto 60px
//     background-position center
//     background-repeat no-repeat
//     height 65px
//     margin-top 70px
//     margin-bottom 20px

//     svg
//         display none

.global-header
    button[aria-label="View Useful Links"]
        display none !important

    // > div:first-child
    //     > a
    //         > div
    //             background-image url('/svg/logo/logo.svg')
    //             background-size auto 36px
    //             background-position left center
    //             background-repeat no-repeat
    //             height 36px
    //             width 160px

    //             svg, span
    //                 display none