<div class="set cart">

	{{ if {sc:cart:has} === false || {sc:cart:count} === 0 }}
		<div class="cart__section">
			<h2>{{ trans:commerce.empty_cart }}</h2>
			{{ 
				partial:components/link 
				shape="button"
				link_type="entry"
				:entry="system:shop"
				icon="bag"
				primary="true"
				label="{trans:commerce.start_shopping}" 
				attr_aria="{trans:commerce.start_shopping}"
			}}
		</div>
	{{ /if }}
		
	{{ sc:cart }}

		{{ if {sc:hasErrors} === true }}
			<div class="alert alert--error">
				{{ sc:errors }}
					{{ value }}<br>
				{{ /sc:errors }}
			</div>
		{{ /if }}

		
		<div class="cart__items">
			{{ items }}

				<div class="cart__item">

					<div class="cart__name"><a href="{{ product:url }}">{{ product:title }}{{ if variant }} ({{variant:variant}}){{ /if }}</a></div>

					{{ sc:cart:removeItem :item="id" }}
						{{ 
							partial:components/link
							shape="link"
							tag="button"
							label="{trans:commerce.remove}" 
							attr_aria="{trans:commerce.remove}"
						}}
					{{ /sc:cart:removeItem }}

					<div class="cart__price">
						{{ if product:open_price }}
							{{ quantity | multiply:100 | currency }}
						{{ elseif variant | raw }}
							{{ total }}
						{{ else }}
							{{ quantity }} x {{ product:price }}
						{{ /if }}
					</div>

					{{# <div class="cart__item_total">{{ total }}</div> #}}

				</div>
			{{ /items }}
		</div>

		<div class="cart__totals">

			{{# if {sc:cart:taxTotal} !== 0 }}
				<div class="cart__tax">
					<div class="cart__title">Tax (incl.)</div>
					<div class="cart__price">{{ sc:cart:taxTotal }}</div>
				</div>
			{{ /if #}}

			<div class="cart__total">
				<div class="cart__title">Total</div>
				<div class="cart__price">{{ sc:cart:grandTotal }}</div>
			</div>

		</div>




		{{ unless no_checkout_button == true || {sc:cart:has} === false || {sc:cart:count} === 0 }}
			<div class="form__field">
				{{ 
					partial:components/link 
					shape="button"
					link_type="url"
					url="{ redirect_to | url }"
					icon="cart"
					primary="true"
					label="{trans:commerce.continue_to_checkout}" 
					attr_aria="{trans:commerce.continue_to_checkout}"
				}}
			</div>
		{{ /unless }}

	{{ /sc:cart }}


</div>