<div class="set reset">
	{{ user:reset_password_form redirect="{ redirect_to | url }" }}

		{{ if success }}

			<div class="alert alert--success">Password has been reset.</div>

		{{ elseif url_invalid }}

			<div class="alert alert--error">This reset URL is invalid.</div>

		{{ else }}

			{{ if errors }}
				<div class="alert alert--error">
					{{ errors }}
						{{ value }}<br>
					{{ /errors }}
				</div>
			{{ /if }}

			<div class="form__field">
				<label for="email">Email</label>
				<input type="email" name="email" required/>
			</div>

			<div class="form__field">
				<label for="password">Password</label>
				<input type="password" name="password" required />
			</div>

			<div class="form__field">
				<label for="password_confirmation">Password confirmation</label>
				<input type="password" name="password_confirmation" required />
			</div>

			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="right"
				primary="true"
				label="Reset password" 
				attr_aria="Reset password"
			}}

		{{ /if }}

	{{ /user:reset_password_form }}
</div>