{{ if environment == 'production' }}

	{{# Google site verification #}}
	{{ if seo:trackers_gsv }}
		<meta name="google-site-verification" content="{{ seo:trackers_gsv }}" />
	{{ /if }}


	{{# Fathom #}}
	{{ if seo:trackers_type == 'fathom' }}
		<script src="https://cdn.usefathom.com/script.js" site="{{ seo:trackers_fathom }}" defer></script>
	
	{{# Plausible #}}
	{{ elseif seo:trackers_type == 'plausible' }}
		<script async defer data-domain="{{ seo:trackers_plausible }}" src="https://plausible.io/js/plausible.js"></script>

	{{# Cloudflare #}}
	{{ elseif seo:trackers_type == 'cloudflare' }}
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ seo:trackers_cloudflare }}"}'></script>

	{{# Google Tag Manager #}}
	{{ elseif seo:trackers_type == 'gtm' }}
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ seo:trackers_gtm }}');</script>

	{{# Google Analytics #}}
	{{ elseif seo:trackers_type == 'ga' }}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ seo:trackers_ga }}"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('set', new Date());gtag('config', '{{ seo:trackers_ga }}' {{ if seo:trackers_ga_anon }}, {'anonymize_ip': true}{{ /if }});</script>
	{{ /if }}


	{{# Yield in <body> #}}
	{{ section:seo_body }}
		{{ if seo:trackers_type == 'gtm' }}
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ seo:trackers_gtm }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

			{{ if seo:trackers_banner }}
				{{ partial:sections/cookies }}
			{{ /if }}
		{{ /if }}
	{{ /section:seo_body }}
	
{{ /if }}