.link--control
	width $px-40
	height $px-40
	display grid
	place-items center
	border-radius $radius-full
	background-color v(tone-200)

	svg
		color v(tone-700)
		width $px-20
		height $px-20

	.label
		display none

	&:hover
		background-color v(tone-400)