.detail
	display inline-flex
	align-items center
	gap $px-16
	color $blue-800
	border-radius $radius-full

	.label
		font-weight 500
		line-height $leading-snug
		flex 1

	.icon
		display flex
		justify-content center
		align-items center

		svg.back
			position relative
			color $malibu-100
			width $px-40

		svg.front
			position absolute
			width $px-20
			height $px-20