.dropdown
	position absolute
	z-index $zindex-popover
	left 0
	top calc(100% + 1rem)
	overflow hidden
	width $px-240
	background-color $malibu-050
	//border solid 2px $malibu-075
	border-radius $radius
	box-shadow $shadow-lg