.entry--new
	> a
		grid-template-rows $px-144 1fr auto

	.entry__content
		display flex
		flex-direction column
		gap $px-16
		padding $px-16 $px-24

	.entry__details
		justify-content space-between

	.entry__arrow
		width $px-24
		height $px-24