.entry--product
	> a
		grid-template-rows $px-224 1fr auto

	.entry__content
		display flex
		flex-direction column
		gap $px-16
		padding $px-16 $px-24

	.entry__price
		display flex
		gap $px-8
		align-items center
		justify-content flex-end
		padding $px-8 $px-24
		font-weight 500

	.entry__price--inverted
		color white
		background-color $blue-600
	
	.entry__stamp
		flex 1
		display flex
		align-items center
		gap $px-8
		font-size $text-14
		text-transform uppercase

		svg
			width $px-14
			height $px-14