.entry
	display grid

	> *
		display grid
		border-radius $radius
		overflow hidden
		background-color $malibu-050

	> a:hover
		background-color $malibu-075

	.entry__title
		font-weight 500
		line-height $leading-snug
		color $blue-800
		font-family $font-display
		font-size $text-18

	.entry__intro
		color $blue-600

	.entry__date
		color $blue-600

	.entry__details
		// color $blue-600
		display flex
		gap $px-8 $px-32
		align-items center
		padding 0 $px-24

	
	&.entry--inverted
		> *
			background-color $blue-600

		> a:hover
			background-color $blue-700


		.entry__title
			color white

		.entry__intro
			color $blue-050

		.entry__date
			color $blue-050

		.entry__details
			color $blue-050