.entry--classified
	> *
		grid-template-rows 1fr auto

	.entry__taxonomies
		display flex
		gap 8px
		flex-wrap wrap

	.entry__content
		padding $px-24
		display flex
		flex-direction column
		gap $px-20

	.entry__titles
		display flex
		flex-direction column
		gap $px-10

	.entry__details
		flex-wrap wrap
		background-color $malibu-075

	&.entry--extended

		> *
			border solid 2px $malibu-050

		.entry__content
			background-color white

		.entry__details
			background-color transparent

	@media md
		&.entry--extended
			.entry__titles
				flex-direction row