.link--control
	width $px-40
	height $px-40
	display grid
	place-items center
	border-radius $radius-full
	color $blue-600
	background-color $malibu-050

	svg
		width $px-20
		height $px-20

	&:hover
		background-color $malibu-100

	&.link--inverted
		color $malibu-025
		background-color $blue-600
		
		&:hover
			background-color $blue-800