.link--detail
	display inline-flex
	align-items center
	gap $px-16
	padding $px-10 0

	.label
		font-weight 500
		line-height $leading-snug
		flex 1

	.icon
		display flex
		justify-content center
		align-items center

		svg
			width $px-20
			height $px-20

	&.link--primary
		.icon
			position relative

			svg
				position relative

			&::before
				background-blob($px-40, 35.4px, circle-sm, $malibu-100)

a.link--detail
	.label
		text-decoration underline

	&:hover
		color v(tone-900)