.link--button
	display inline-flex
	align-items center
	gap $px-8
	padding $px-8 $px-20
	color v(tone-800)
	background-color v(tone-050)
	border-radius $radius-full

	.label
		font-weight 500
		line-height $leading-snug
		flex 1

	.icon
		svg
			width $px-20
			height $px-20

	&:hover
		background-color v(tone-075)

	&.link--icon
		padding-left $px-12

	&.link--primary
		color white
		background-color v(tone-600)

		&:hover
			background-color v(tone-700)