.link--control
	width $px-40
	height $px-40
	display grid
	place-items center
	border-radius $radius-full
	color $blue-600
	background-color $malibu-050

	svg
		width $px-20
		height $px-20

	&:hover
		background-color $malibu-100



		// --border-width: 3px;
		// position: relative;
		// //border-radius: var(--border-width);

		// &::after
		// 	position: absolute;
		// 	content: "";
		// 	top: calc(-1 * var(--border-width));
		// 	left: calc(-1 * var(--border-width));
		// 	z-index: -1;
		// 	width: calc(100% + var(--border-width) * 2);
		// 	height: calc(100% + var(--border-width) * 2);
		// 	border-radius $radius-full
		// 	background: linear-gradient(
		// 	60deg,
		// 	hsl(224, 85%, 66%),
		// 	hsl(269, 85%, 66%),
		// 	hsl(314, 85%, 66%),
		// 	hsl(359, 85%, 66%),
		// 	hsl(44, 85%, 66%),
		// 	hsl(89, 85%, 66%),
		// 	hsl(134, 85%, 66%),
		// 	hsl(179, 85%, 66%)
		// 	);
		// 	background-size: 300% 300%;
		// 	background-position: 0 50%;
		// 	//border-radius: calc(2 * var(--border-width));
		// 	animation: moveGradient 4s alternate infinite;

	&.link--inverted, &.link--primary
		color $malibu-025
		background-color $blue-600
		
		&:hover
			background-color $blue-800


	&.link--active
		color $yellow-900
		background-color $yellow-400

		&:hover
			background-color $yellow-500


	// @keyframes moveGradient {
	// 	50% {
	// 		background-position: 100% 50%;
	// 	}
	// }