.link--nav
	display flex
	align-items center
	gap $px-8
	padding $px-12 $px-20
	line-height $leading-tight

	&.link--primary
		font-weight 500
		//font-size $text-18

	&.link--main
		color $blue-600
		font-weight 500

	&.link--icon
		padding-top $px-10
		padding-bottom $px-10

	&.link--inverted
		color white
		background $blue-600

	&.link--current, &.link--parent
		background-color $malibu-100

		&.link--inverted
			color white
			background $blue-600

	.icon
		order 1
		width $px-24

	&:hover
		background-color $malibu-100

		&.link--main
			background-color $malibu-100

		&.link--inverted
			background-color $blue-700

	// @media lg
	// 	padding $px-12 $px-24