.logos
	display flex
	flex-wrap wrap
	gap $px-32
	align-items center

	.logo
		width 10rem
		height 8rem
		display grid
		place-items center
		position relative

		img
			position absolute
			max-height 100%
			height auto
			width auto