.link--nav
	display block
	padding 0.75em $px-24
	fluid(font-size, $text-14, $text-16)
	font-weight 600
	color $primary-700
	background-color $primary-075
	line-height $leading-snug

	&.link--primary
		font-family $font-display
		padding-top 0.5em
		padding-bottom 0.5em
		font-weight initial
		fluid(font-size, $text-18, $text-20)

	&.link--main
		background-color initial
		border-radius $radius-lg

	&.link--inverted
		color $primary-025
		background-color $primary-600

	&.link--current
		color $secondary-700

		&.nav--inverted
			color white

	&:hover
		background-color $primary-100

		&.link--main
			background-color $primary-200

		&.link--inverted
			background-color $primary-700