.tags
    display flex
    flex-wrap wrap
    gap 4px $px-8

    span
        font-size $text-14
        line-height $leading-snug
        white-space nowrap
        font-weight 600
        text-transform uppercase
        color v(tone-025)
        background-color v(tone-600)
        border-radius $radius-md
        padding 0.2em 0.8em