body
	display: flex
	flex-direction: column
	min-height: 100vh
	background-color: $neutral-025
	color: $neutral-800
	font-family: $font-main
	line-height $leading-normal
	-webkit-font-smoothing antialiased // Controversial
	-moz-osx-font-smoothing grayscale // Controversial

	// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	overflow-wrap break-word
	word-wrap break-word
	word-break break-word
	-ms-hyphens auto
	-webkit-hyphens auto
	hyphens auto

	define-tone(green)


	&.body--modal
		overflow hidden