.page
	main
		wrapper-x()

	.sidebar
		position absolute

	@media md
		display grid
		gap $px-64

	@media lg
		wrapper-x()
		grid-auto-flow dense
		grid-template-columns $px-208 1fr
		fluid(column-gap, $px-16, $px-64)

		.banner
			grid-column 1 / span 2
			
		main
			position relative
			unwrapper-x()
			grid-column-start 2

			&::before
				background-blob(372px, 375px, triangle-lg, $malibu-075)
				top -48px
				left -300px
				transform initial
				z-index -1

		.sidebar
			position initial

	@media xl
		grid-template-columns $px-288 1fr

		main
			&::before
				width 496px
				height 500px
				left -430px