.page
	flex 1
	width 100%
	padding-top $px-32
	padding-bottom $px-32

	main
		flex 1

	.sidebar
		display flex
		flex-direction column
		row-gap $px-48

	@media lg
		wrapper-x()
		display flex
		align-items flex-start
		fluid(column-gap, $px-16, $px-64)

		main
			order 1
			flex 1

		.sidebar
			position sticky
			fluid(top, $padding-main-y-min, $padding-main-y-max)
			width $px-208

	@media xl
		.sidebar
			width $px-288