---
schoolyears:
    -
        label: 2020/2021
        start: 2020-08-01
        end: 2021-07-31
    -
        label: 2021/2022
        start: 2021-08-01
        end: 2022-07-31
    -
        label: 2022/2023
        start: 2022-08-01
        end: 2023-07-31
---

<aside 
	class="sideblock events"
	x-cloak
	x-show="!mobile || sideblock_events"
	@click.away="sideblock_events = false"
>
    <div class="sideblock__title">{{ trans:sideblock.title_events }}</div>

    <ul>
        {{ view:schoolyears }}
            <li>
                {{ 
                    partial:components/nav
                    :menu_label="label"
                }}
            </li>
        {{ /view:schoolyears }}
    </ul>
</aside>