<aside 
	class="sideblock events"
	x-cloak
	x-show="!mobile || sideblock_events"
	@click.away="sideblock_events = false"
>
	<div class="sideblock__title">{{ trans:sideblock.title_events }}</div>

	<ul>
		<li>
			{{ 
				partial:components/nav
				menu_label="{trans:sideblock.upcoming}"

				{{ unless (get:from) }}
					is_current="true"
				{{ /if }}
			}}
		</li>
		{{ loop from="2021" to="{now format='Y'}" }}
			<li>
				{{ 
					partial:components/nav
					menu_label="{value} / {value | add:1}"
					url="?from={value}-08-01&until={value | add:1}-07-31"

					{{ if ((get:from | first:4) == value ) }}
						is_current="true"
					{{ /if }}
				}}
			</li>
		{{ /loop }}   
	</ul>
</aside>