<aside
	class="sideblock product"
	x-cloak
	x-show="!mobile || sideblock_product"
	@click.away="sideblock_product = false"
>
	<div class="sideblock__title">{{ trans:sideblock.title_product }}</div>
	<div class="sideblock__content">

		{{ sc:cart:addItem redirect="/cart" }}

			<input type="hidden" name="product" value="{{ id }}">

			{{ if product_variants }}
				<div class="form__field">
					<label for="variant">Variant</label>

					<select id="variant" name="variant">
						{{ product_variants:options }}
							<option value="{{ key }}">{{ variant }} ({{ price }})</option>
						{{ /product_variants:options }}
					</select>
				</div>
			{{ /if }}

			<div class="form__field">
				<label for="quantity">Quantity</label>

				<select id="quantity" name="quantity">
					{{ loop from="1" to="5" }}
						<option value="{{ value }}">{{ value }}</option>
					{{ /loop }}
				</select>
			</div>

			{{ metadatas }}
				<div class="form__field">
					<label for="{{ title | slugify }}">{{ title }}</label>
					{{ if hint }}
						<span class="hint">{{ hint }}</span>
					{{ /if }}
					<input type="text" name="{{ title | slugify }}" {{ required ?= 'required' }}>
				</div>
			{{ /metadatas }}

			<div class="set buttons">
				{{ 
					partial:components/link 
					shape="button"
					tag="button"
					icon="bag"
					primary="true"
					label="{ price } Add to cart" 
					attr_aria="Add to cart"
				}}
			</div>

		{{ /sc:cart:addItem }}
	</div>
</aside>