<aside 
	class="sideblock status"
	x-cloak
	x-show="!mobile || sideblock_status"
	@click.away="sideblock_status = false"
>

	<div class="sideblock__title">{{ trans:sideblock.title_status }}</div>

	<div class="sideblock__content">

		{{ if logged_in }}
			<div class="details">
				{{ user }}
	
					{{ 
						partial:components/link
						tag="div"
						shape="detail"
						icon="person" 
						:label="name"
						primary="true"
					}}
	
					{{ 
						partial:components/link
						tag="div"
						shape="detail"
						icon="mail" 
						:label="email"
						primary="true"
					}}
	
					{{ if {is_member} }}
						{{ 
							partial:components/link
							tag="div"
							shape="detail"
							icon="star" 
							label="{trans:account.member_until} {membership_until format='d/m/Y'}"
							primary="true"
						}}
					{{ else }}
						{{ 
							partial:components/link
							tag="div"
							shape="detail"
							icon="star" 
							label="{trans:account.no_membership}"
							primary="true"
						}}
					{{ /if }}
	
					{{ if {is_insured} }}
						{{ 
							partial:components/link
							tag="div"
							shape="detail"
							icon="health" 
							label="{trans:account.insurance_until} {insurance_until format='d/m/Y'}"
							primary="true"
						}}
					{{ else }}
						{{ 
							partial:components/link
							tag="div"
							shape="detail"
							icon="health" 
							label="{trans:account.no_insurance}"
							primary="true"
						}}
					{{ /if }}
				{{ /user }}
			</div>
	
			<div class="buttons">
				{{ 
					partial:components/link 
					shape="button"
					icon="cross"
					primary="true"
					label="{ trans:account.log_out }" 
					attr_aria="{ trans:account.log_out }"
					link_type='url' 
					url="{user:logout_url}"
				}}
			</div>
		{{ else }}
			{{ trans:sideblock.content_member_visitor }}

			<div class="buttons">
				{{ 
					partial:components/link 
					shape="button"
					icon="person"
					label="{ trans:account.log_in }" 
					attr_aria="{ trans:account.log_in }"
					link_type='url' 
					url="{ system:login | url }"
				}}

				{{ if system:membership }}
					{{ 
						partial:components/link 
						shape="button"
						icon="cart"
						primary="true"
						label="{ trans:account.buy_membership }" 
						attr_aria="{ trans:account.buy_membership }"
						link_type='url' 
						url="{ system:membership | url }"
					}}
				{{ /if }}
			</div>
		{{ /if }}

	</div>
	
</aside>