<aside class="sideblock submenu">
	
	{{ section:nav_segment_1 }}
		{{ nav from="/{segment_0}" limit='1' }}
			{{ if is_parent or is_current }}
				<li>
					{{ partial:components/nav primary="true" inverted="true" }}
				</li>
			{{ /if }}
		{{ /nav }}
	{{ /section:nav_segment_1 }}


	{{ nav from="/{segment_1}" as="mynav" }}
		{{# excluding isolated pages #}}
		{{ if mynav }}
			<nav class="">
				<ul>
					{{# adding segment_1 item #}}
					{{ yield:nav_segment_1 }}

					{{# actual nav #}}
					{{ mynav }}
						{{ unless is_hidden }}
							<li>
								{{ partial:components/nav }}
							</li>
						{{ /unless }}

						{{# anchors #}}
						{{ if is_current }}{{ yield:anchors }}{{ /if }}
					{{ /mynav }}
				</ul>
			</nav>
		{{ /if }}
	{{ /nav }}

</aside>
