{{ section:toggles }}
	{{ 
		partial:components/control
		link_type="url"
		url="{{ site:url }}/{{ segment_1 }}"
		label="{trans:sideblock.back_events}"
		icon="left"
		inverted="true"
	}}

	{{ 
		partial:components/link
		shape="button"
		click="sideblock_event = !sideblock_event" 
		label="{trans:sideblock.toggle_event}"
		tag="button"
	}}
{{ /section:toggles }}

{{ partial:sections/banner }}
<div class="page">

	{{ partial:main/default }}
	
	<div class="sidebar">
		{{ partial:sideblocks/edit }}
		{{ partial:sideblocks/back label="{trans:sideblock.back_events}" }}
		{{ partial:sideblocks/event }}
	</div>

</div>