<div class="homepage">

	<div class="sections-1-2">
		<div class="intro">
			<div class="prose">
				{{ paragraph }}
				{{ partial:sets/news no_pagination="true" }}
			</div>
		</div>

		<div class="map_home">{{ partial:components/picture external_picture="svg/map.svg" picture="true" fit="true" }}</div>
	</div>

	<section class="usps">
		{{ usps }}
			<div class="usp">
				<div class="usp__drawing">
					{{ partial:components/drawing }}
				</div>
				<h2>{{ title }}</h2>
				{{ description }}
			</div>
		{{ /usps }}
	</section>
</div>