{{ section:toggles }}
	{{ 
		partial:components/control
		link_type="url"
		url="{{ site:url }}/{{ segment_1 }}"
		label="{trans:sideblock.back_news}"
		icon="left"
		inverted="true"
	}}

	{{ 
		partial:components/link
		shape="button"
		click="sideblock_new = !sideblock_new" 
		label="{trans:sideblock.toggle_new}"
		tag="button"
	}}
{{ /section:toggles }}

<div class="page">

	{{ partial:main/default }}
	
	<div class="sidebar">
		{{ partial:sideblocks/edit }}
		{{ partial:sideblocks/back label="{trans:sideblock.back_news}" }}
		{{ partial:sideblocks/new }}
	</div>

</div>