

{{ user:cant do="edit products entries" }}
	{{ if
		(clients == 'members') &&
		({session:user_group} != 'members')
	}}
		{{ redirect to="/" }}
	{{ /if }}
{{ /user:cant }}




{{ section:toggles }}
	{{ 
		partial:components/control
		link_type="url"
		url="{{ site:url }}/{{ segment_1 }}"
		label="{trans:sideblock.back_products}"
		icon="left"
		inverted="true"
	}}

	{{ 
		partial:components/link
		shape="button"
		primary="true"
		click="sideblock_product = !sideblock_product" 
		label="{trans:sideblock.toggle_product}"
		tag="button"
	}}
{{ /section:toggles }}

<div class="page">
	{{ partial:sections/banner }}

	{{ partial:main/product }}
	
	<div class="sidebar">
		{{ partial:sideblocks/edit }}
		{{ partial:sideblocks/back label="{trans:sideblock.back_products}" }}
		{{ partial:sideblocks/member }}
	</div>

</div>