{{ user:cant do="edit products entries" }}
	{{ if
		(clients == 'members') &&
		(!{is_member})
	}}
		{{ redirect to="/" }}
	{{ /if }}
{{ /user:cant }}

{{ section:toggles }}
	{{ 
		partial:components/control
		link_type="url"
		url="{{ site:url }}/{{ segment_1 }}"
		label="{trans:sideblock.back_products}"
		icon="left"
		inverted="true"
	}}
{{ /section:toggles }}

<div class="page">
	{{ partial:sections/banner }}

	{{ partial:main/product }}
	
	<div class="sidebar">
		{{ partial:sideblocks/back label="{trans:sideblock.back_products}" }}
		{{ partial:sideblocks/status }}
	</div>

</div>