.banner
	position relative
	fluid(--title-bunting-width , $px-20, $px-32)


	.wrapper
		wrapper-x(1140px, $px-8)
		position relative

	.titles
		display flex
		flex-direction column

	.cover
		width 100%
		overflow hidden

	.title
		fluid(font-size, $text-30, $text-48)
		color $blue-800
		font-family $font-display
		line-height $leading-tight

	@media lg
		.wrapper
			display flex

		.cover
			width 400px