.cart
	display flex
	flex-direction column
	gap $px-32

	.cart__section
		display flex
		flex-direction column
		gap $px-10

		h2
			font-family $font-display
			font-size $text-20

		

	.cart__items
		display flex
		flex-direction column
		gap $px-8


	.cart__item
		display grid
		align-items center
		gap $px-8
		grid-template-columns 1fr auto
		grid-template-rows 1fr auto
		padding-top $px-12
		padding-bottom $px-12
		border-bottom solid 1px $malibu-075

	.cart__item_name
		font-weight 500
		// font-family $font-display
		// font-size $text-20

		a:hover
			text-decoration underline

	.cart__item_total
		font-weight 500
		justify-self end

	.cart__section--tax, .cart__section--total
		> div
			align-self flex-end
			font-weight 500

	// .checkout__total
	// 	padding $px-12 $px-16
	// 	border-radius $radius
	// 	background $malibu-050
	// 	display flex
	// 	align-item center
	// 	justify-content space-between
	// 	font-family $font-display
	// 	font-size $text-20		