$footer-padding-y-min = 48px
$footer-padding-y-max = 48px

body > footer
	.wrapper
		wrapper-x()
		fluid(padding-bottom, $footer-padding-y-min, $footer-padding-y-max)
		display flex
		flex-direction column
		gap $px-4
		align-items center

		.footer__socials
			display flex
			gap $px-12

		.footer__links
			display flex
			flex-wrap wrap
			justify-content center
			gap $px-8 $px-16