$header-padding-y-min = $px-24
$header-padding-y-max = $px-32

body > header

	.emblem
		position absolute
		z-index $zindex-fixed-element
		top $px-4
		fluid(left,	$wrapper-x-min, $wrapper-x-max)
		width $px-96

		// img
		// 	height auto

	.header__menu
		display none
		flex 1

		> ul
			display flex
			background-color $malibu-050
			border-radius $radius

			> li
				position relative

	.header__dropdown
		position absolute
		z-index $zindex-popover
		left 0
		top calc(100% + 1rem)
		overflow hidden
		width $px-240
		background-color $malibu-050
		border solid 2px $malibu-075
		border-radius $radius

	.header__controls
		display none
		align-self flex-start
		gap $px-16

	.header__toggle
		position fixed
		z-index $zindex-fixed-element
		bottom $px-12
		fluid(right,	$wrapper-x-min, $wrapper-x-max)

	@media lg
		.wrapper
			wrapper-x()
			padding-top $px-24
			padding-bottom $px-24
			display flex
			align-items center
			gap $px-48
			//position relative
			//z-index 1

		.emblem
			position initial
			width $px-144

		.header__menu
			display flex
			margin-top $px-14

		.header__controls
			display flex

		.header__toggle
			display none