$header-padding-y-min = $px-24
$header-padding-y-max = $px-32

body > header

	.emblem
		width $px-96

		a
			position relative
		
		&::before
			background-blob($px-128, 105px, circle-sm, white)

	.header__menu
		display none
		flex 1

		> ul
			display flex
			background-color $malibu-050
			border-radius $radius

			> li
				position relative
				display flex

	.header__dropdown
		position absolute
		z-index $zindex-popover
		left 0
		top calc(100% + 1rem)
		overflow hidden
		width $px-240
		background-color $malibu-050
		border solid 2px $malibu-075
		border-radius $radius

	.header__controls
		display none
		align-self flex-start
		gap $px-12

	@media md
		backdrop-filter blur(30px)
		background-color rgba(246, 249, 255, 0.9)

		> .wrapper
			wrapper-x()
			padding-top $px-24
			padding-bottom $px-24
			display grid
			align-items start
			gap $px-16
			grid-template-columns auto auto
			grid-template-rows auto auto
			min-height $px-192

		.emblem
			position initial
			width $px-128

			&::before
				content none

		.header__menu
			grid-column 1 / span 2
			display flex
			justify-self center

		.header__controls
			display flex
			justify-self flex-end
			
	@media xl
		> .wrapper
			display flex
			align-items center
			gap $px-48
			min-height $px-128

		.emblem
			width $px-144

		.header__menu
			order 2
			margin-top $px-14

		.header__controls
			order 3