.modal
	position: fixed
	z-index: $zindex-overlay
	left 0
	right 0
	bottom 0
	width 100%
	height 100%
	overflow-y auto
	overscroll-behavior contain
	background-color $malibu-025

	.wrapper
		wrapper-x()
		height 100%
		display flex
		flex-direction column
	
	.modal__footer, .topbar
		display flex
		justify-content flex-end
		gap $px-16
		padding-top $px-12
		padding-bottom $px-12

	.modal__menu
		flex 1
		overflow-y auto

		> ul
			display flex
			flex-direction column
			gap $px-12


			& > li
				border-radius $radius
				overflow hidden

				> ul
					display flex
					flex-wrap wrap
					background-color $malibu-050

					> li
						width 50%

	@media xl
		display none