.toggles
	.wrapper
		wrapper-x()
		padding-top $px-12
		padding-bottom $px-12
		display flex
		justify-content space-between

	.side
		display flex
		gap $px-12

	.link--toggle-menu
		position relative

		&::before
			background-blob(80px, 70.8px, circle-sm, $yellow-400)
			z-index -1

	@media md
		.link--toggle-menu
			display none

	@media lg
		display none
