// https://google-webfonts-helper.herokuapp.com/
// https://transfonter.org/

@font-face
	font-family 'Handlee'
	font-style normal
	font-weight 400
	src url('/fonts/handlee-latin-600.woff2') format('woff2')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), url('/fonts/open-sans-v18-latin-regular.woff2') format('woff2')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semi-bold'), url('/fonts/open-sans-v18-latin-600.woff2') format('woff2')

$font-main = 'Open Sans', sans-serif
$font-display = 'Handlee', 'Arial', sans-serif