// https://google-webfonts-helper.herokuapp.com/
// https://transfonter.org/

@font-face
	font-family 'Roboto Slab'
	font-style normal
	font-weight 500
	src url('/fonts/roboto-slab-v13-latin-500.woff2') format('woff2')

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 400
	src local('Roboto'), url('/fonts/roboto-v27-latin-regular.woff2') format('woff2')

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 500
	src local('Roboto-Medium'), url('/fonts/roboto-v27-latin-500.woff2') format('woff2')

$font-main = 'Roboto', sans-serif
$font-display = 'Roboto Slab', 'Arial', sans-serif