<main class="main--events">
	<div class="events">
		{{# now format='Y-10-31' }}
		{{ now modify_date='+1 year' format='Y-07-31' #}}

		{{# get:from ?? school_year:start #}}


		{{# school_year:start }}
		{{ school_year:end #}}

		{{ collection 
			from="events"
			as="entries"
			sort="pinned:desc|event_date:asc"
			
			event_date:gte="{ now format='Y-m-d' }"
		}}
	
			{{ if no_results }}
				<p>No results</p>
			{{ /if }}
		
			{{ entries }}
				{{ partial:components/entry--event	}}
			{{ /entries }}	
	
			{{ if paginate:total_pages > 1 }}
				{{ section:pagination }}
	
					{{ paginate }}
						<div class="pagination">
							<a href="{{ prev_page }}" aria-label="Previous" class="arrow arrow--prev">{{ svg src="left" }}</a>
			
							<div class="pagination__count">{{ current_page }} / {{ total_pages }}</div>
			
							<a href="{{ next_page }}" aria-label="Next" class="arrow arrow--next">{{ svg src="right" }}</a>
						</div>
					{{ /paginate }}
	
				{{ /section:pagination }}
			{{ /if }}
		
		{{ /collection }}
	</div>
</main>


<!-- event_date:gte="{today format='Y-m-d'}" -->