<main class="main--default main--login">

	{{ partial:sections/prose }}

	<div class="prose">
		<h2>Members area</h2>

		{{ user:login_form redirect="/en/account" }}

			{{ if errors }}
				<div class="bg-red-300 text-white p-2">
					{{ errors }}
						{{ value }}<br>
					{{ /errors }}
				</div>
			{{ /if }}

			{{ if success }}
				<div class="bg-green-300 text-white p-2">
					{{ success }}<br>
				</div>
			{{ /if }}

			<div class="form__field">
				<label for="email">Email</label>
				<input type="text" name="email" value="{{ old:email }}" required />
			</div>

			<div class="form__field">
				<label for="password">Password</label>
				<input type="password" name="password" value="{{ old:password }}" required />
			</div>

			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="person"
				primary="true"
				label="Log in" 
				attr_aria="Log in"
			}}

		{{ /user:login_form }}


		<h2>First connexion / Reset password</h2>

		{{ user:forgot_password_form reset_url="/reset-password" }}

			{{ if errors }}
				<div class="bg-red-300 text-white p-2">
					{{ errors }}
						{{ value }}<br>
					{{ /errors }}
				</div>
			{{ /if }}

			{{ if success }}
				<div class="bg-green-300 text-white p-2">
					{{ success }}<br>
				</div>
			{{ /if }}

			<div class="form__field">
				<label for="email">Email</label>
				<input type="text" name="email" value="{{ old:email }}" required />
			</div>

			{{ 
				partial:components/link 
				shape="button"
				tag="button"
				icon="mail"
				primary="true"
				label="Send reset email" 
				attr_aria="Send reset email"
			}}

		{{ /user:forgot_password_form }}
	</div>

	

</main>